{% extends "layout.html" %}
{% block content %}
  <h1 style="font-size: 45px;">Hello,<br>My name is Himanshu!<br>I work on data</h1>
  <h2 style="font-size: 30px;">I collect facts & statistics to create analysis.</h2>
  <p style="font-size: 20px;">Hello! My name is Himanshu Sekhar, and I have completed my undergrad in civil engineering from Odisha University of Technology and Research (formerly CET), Bhubaneswar. 
<br>During the final year of my undergrad, I developed a keen interest in data science.</br>
<br>Since then I started learning about it. I have learned programming in python with the integration of SQL (PostgreSQL & Microsoft SQL Server) along with data analysis using NumPy, pandas, & visualization in matplotlib. I have worked on projects related to Web Scraping, Data Cleaning, Exploratory Data Analysis (EDA), Sentiment Analysis & Data Visualization.</br>
<br>I am passionate about data analytics & research. I have a portfolio of projects that I have worked on, and I am always eager to take on new challenges.</br>
<br>Currently, I am looking forward to join in an entry level data analytics position.</br>
Thank you!</p>
{% endblock content%} 